.footer {
  background-color: var(--negro);
  padding: 4rem 1rem;
  margin-top: 4rem;
  display: flex;
}

@media(min-width:768px) {
  .contenido {
    display: flex;
    justify-content: space-between;
    gap: 4rem;
  }
}

.navegacion {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.enlace {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media(min-width: 300px) {
  .enlace {
    
  }
}

.enlace a {
  color: var(--blanco);
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 700;
  text-transform: uppercase;
  padding: .5rem;
  transition-property: background-color;
  transition-duration: .8s;
}

.enlance a:hover {
  background-color: var(--primary);
}


@media(min-width: 768px) {
  .navegacion {
    flex-direction: row;
    gap: 6rem;
    justify-content: space-between;
  }
}
@media(min-width: 1200px) {
  .navegacion {
    display: flex;
    flex-direction: row;
  }
}
@media(min-width:640px) {
  .navegacion {
    flex-direction: column;
    gap: 2rem;
  }
}
@media(min-width:300px) {
  .navegacion {
    flex-direction: column;
    gap: 2rem;
  }
}
.navegacion a {
  color: var(--blanco);
  text-decoration: none;
  font-size: 1.8rem;
  font-weight: 700;
  text-transform: uppercase;
  padding: .5rem;
  transition-property: background-color;
  transition-duration: .8s;
}

.navegacion a:hover {
  background-color: var(--primary);
}

.copyright {
  display: flex;
  flex-direction: row;
  align-items: center;
  color: var(--blanco);
  text-align: center;
  font-size: 2.5rem;
  font-weight: 500;
}

@media(min-width:1200px) {
  .copyright {
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 1em;
    font-weight: 100;
  }
}

@media(min-width:640px) {
  .copyright {
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 1em;
    font-weight: 100;
  }
}

.list {
  display: flex;
  gap: 4rem;
  flex-direction: column;
  align-items: center;
}

@media(min-width:1200px) {
  .list {
    flex-direction: column;
  }
}

@media(min-width: 300px) {
  .list {
    flex-direction: column;
    align-items: center;
  }
}

.iconoInsta {
  background-image: url("../public/img/instagram-brands.svg");
  height: 40px;
  width: 40px;
  cursor: pointer; 
  background-repeat: no-repeat;
}

.iconoFace {
  background-image: url("../public/img/facebook-square-brands.svg");
  height: 40px;
  width: 40px;
  cursor: pointer; 
  background-repeat: no-repeat;
}
.iconoWhats {
  background-image: url("../public/img/whatsapp-brands.svg");
  height: 40px;
  width: 40px;
  cursor: pointer; 
  background-repeat: no-repeat;
}
.iconoLinke {
  background-image: url("../public/img/linkedin-brands.svg");
  height: 40px;
  width: 40px;
  cursor: pointer; 
  background-repeat: no-repeat;
}